/*
========================================================================================
    Config file for defining DSL2 per module options and publishing paths
========================================================================================
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'symlink',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: BWA_MEM {
        // provide warning message stating 'proceeding with default values for BWA_MEM'
        ext.args = '-A 1 -B 4 -O 6'
        errorStrategy = 'retry'
        maxRetries = 3
    }
    withName: BEDTOOLS_BAMTOBED {
        errorStrategy = 'retry'
        maxRetries = 3
    }
    withName: FASTP {
        ext.args = '--cut_by_quality5 20 --cut_by_quality3 20 --cut_window_size 5 --cut_mean_quality 15 -q 15 -u 50'
        maxForks = 30
        queue = 'long'
        //ext.umi_params = '' // if umi's are present please specify it's parameters in fastp format
    }
    withName: FASTQC {
        ext.args = '--quiet'
    }
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: 'copy',
            pattern: '*_versions.yml'
        ]
    }
    withName: BWA_INDEX {
        clusterOptions  = '-q general -p general -c 5'
        memory = { 30.GB * task.attempt }
        errorStrategy = 'retry'
        maxRetries = '3'
    }
}
