/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/radseq -profile test_demux,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile with demultiplexing step'
    config_profile_description = 'Minimal test dataset to check pipeline demultiplexing function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus                   = 2
    max_memory                 = '2.GB'
    max_time                   = '10.m'
    
    input                      = '/mnt/d/nextflow_testing/radseq/demult/input_demux.csv'
    step                       = 'demultiplexing'

    read_structure             = '6B+T +T'

    genome                     = null

    // Method
    method                     = 'denovo'
    sequence_type              = 'PE'

    aligner                    = 'bwa-mem2'

    minreaddepth_withinindividual   = 2 // defaults to 2,3
    minreaddepth_betweenindividual  = 2 // defaults to 2,3

}
