/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/radseq -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile with UMI barcodes'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus                   = 2
    max_memory                 = '2.GB'
    max_time                   = '10.m'
    
    input                      = '/mnt/d/nextflow_testing/radseq/input.csv'

    genome                     = null

    // Method
    method                     = 'denovo'
    sequence_type              = 'PE'

    aligner                    = 'bwa-mem2'

    // Denovo options
    need_to_trim_fastq         = true
    denovo_clip_r2             = 10


    minreaddepth_withinindividual   = 1 // defaults to 2,3
    minreaddepth_betweenindividual  = 1 // defaults to 2,3

    // umi options
    extract_umi_from_readname  = false
    fgbio_umi_read_structure             = '+T 8M2S+T'
    // groupreadsbyumi
    umi_strategy               = 'Identity'
    number_of_allowable_edits  = '0' // if passing 0 must be surrounded by quotes
    grpumi_min_mapq            = 0
    // callumiconsensus
    umi_min_reads                  = 2
    umi_min_base_quality           = 5

    fastp_umi_read_structure       = '--umi --umi_loc=read2 --umi_len=8 --umi_skip=2 --umi_prefix=UMI'

}
