/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/radseq -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    
    input                      = 'https://raw.githubusercontent.com/Gabriel-A-Barrett/test-datasets/radseq/samplesheet/samplesheet_test_lpolyphemus_ddrad_sbfi_mluci.csv'

    genome                     = 'https://raw.githubusercontent.com/Gabriel-A-Barrett/test-datasets/radseq/testdata/Lpolyphemus/ddrad_sbfi_mluci_chr26/hsc_Chr26.fasta.gz'

    // Method
    method                     = 'reference'
    sequence_type              = 'PE'

    aligner                    = 'bwa-mem2'

    // Denovo options: applied if method: 'denovo'
    need_to_trim_fastq         = false    

    minreaddepth_withinindividual   = '2' // defaults to 2,3
    minreaddepth_betweenindividual  = '2,3' // defaults to 2,3

    // testing settings

    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus                   = 1
    max_memory                 = '2.GB'
    max_time                   = '10.m'

}
