/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/radseq -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '2.GB'
    max_time   = '6.h'

    input  = 'https://raw.githubusercontent.com/Gabriel-A-Barrett/test-datasets/radseq/samplesheet/samplesheet_test_ddRAD.csv'

    // Method
    method = 'denovo'

    aligner = 'minimap2'

    popmap = 'https://raw.githubusercontent.com/Gabriel-A-Barrett/test-datasets/radseq/testdata/ddRAD/popmap.txt'

    // Genome references
    genome = 'https://raw.githubusercontent.com/Gabriel-A-Barrett/test-datasets/radseq/testdata/ddRAD/CM014990.1.fna'

    umi_read_structure               = '--umi --umi_loc=read2 --umi_len=8 --umi_skip=2 --umi_prefix=UMI'

}
