params {
    // Config options
    custom_config_version      = 'master'
    custom_config_base         = null //"https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_description = null
    config_profile_contact     = null
    config_profile_url         = null
    config_profile_name        = null

    // Max resource options
    max_memory                 = '500.GB'
    max_cpus                   = 50
    max_time                   = '240.h'

}
// setup SLURM for xanadu
process {
    executor = 'slurm'
    withLabel:process_high_memory {clusterOptions = '--qos=himem --partition=himem'}
    withLabel:'!process_high_memory' {clusterOptions = '--qos=general --partition=general'}
}
executor {
    queueSize = 100
    submitRateLimit = '5 sec'
}